{
  "name": "io.github.anime4k_browser.native",
  "description": "AniWebScale native Windows renderer",
  "path": "${HOST_PATH}",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://${CHROME_EXTENSION_ID}/"
  ]
}

