:root,
.light {
  --md-sys-color-primary: #8066ad;
  --md-sys-color-surface-tint: #8066ad;
  --md-sys-color-on-primary: #fffaf6;
  --md-sys-color-primary-container: #eee8fa;
  --md-sys-color-on-primary-container: #3e315d;
  --md-sys-color-secondary: #bd7185;
  --md-sys-color-on-secondary: #fffaf6;
  --md-sys-color-secondary-container: #fce7ec;
  --md-sys-color-on-secondary-container: #633d4a;
  --md-sys-color-tertiary: #477f80;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #e5f4ef;
  --md-sys-color-on-tertiary-container: #274f51;
  --md-sys-color-error: #a84f5c;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #fbe4e5;
  --md-sys-color-on-error-container: #753b46;
  --md-sys-color-background: #fffaf3;
  --md-sys-color-on-background: #263557;
  --md-sys-color-surface: #fffaf3;
  --md-sys-color-on-surface: #263557;
  --md-sys-color-surface-variant: #f8eee7;
  --md-sys-color-on-surface-variant: #65708a;
  --md-sys-color-outline: #aaa3b1;
  --md-sys-color-outline-variant: #e5d9d1;
  --md-sys-color-shadow: #473e58;
  --md-sys-color-scrim: #473e58;
  --md-sys-color-inverse-surface: #313b57;
  --md-sys-color-inverse-on-surface: #fff8ef;
  --md-sys-color-inverse-primary: #d7c9f2;
  --md-sys-color-primary-fixed: #eee8fa;
  --md-sys-color-on-primary-fixed: #302449;
  --md-sys-color-primary-fixed-dim: #d5c6ef;
  --md-sys-color-on-primary-fixed-variant: #624d8c;
  --md-sys-color-secondary-fixed: #fce7ec;
  --md-sys-color-on-secondary-fixed: #4a2934;
  --md-sys-color-secondary-fixed-dim: #efb9c7;
  --md-sys-color-on-secondary-fixed-variant: #8a5363;
  --md-sys-color-tertiary-fixed: #e5f4ef;
  --md-sys-color-on-tertiary-fixed: #1d4142;
  --md-sys-color-tertiary-fixed-dim: #acd9cd;
  --md-sys-color-on-tertiary-fixed-variant: #35696b;
  --md-sys-color-surface-dim: #f2e8df;
  --md-sys-color-surface-bright: #fffdf9;
  --md-sys-color-surface-container-lowest: #fffdf9;
  --md-sys-color-surface-container-low: #fff8f0;
  --md-sys-color-surface-container: #fbf2e8;
  --md-sys-color-surface-container-high: #f7ece3;
  --md-sys-color-surface-container-highest: #f1e6df;
}
